@charset "UTF-8";
.ulsan a{
opacity:0;
padding-top:42%;
text-align:center;
}
.ulsan:hover  {
width:240px; height:240px;  opacity:0.6; padding:30px;
}
.ulsan:hover a{
opacity:0.8;
}
.choongbook a{
opacity:0;
padding-top:42%;
text-align:center;
}
.choongbook:hover  {
width:240px; height:240px;  opacity:0.6; padding:30px;
}
.choongbook:hover a{
opacity:0.8;
}
.choongnam a{
opacity:0;
padding-top:42%;
text-align:center;
}
.choongnam:hover  {
width:240px; height:240px;  opacity:0.6; padding:30px;
}
.choongnam:hover a{
opacity:0.8;
}
.daegu a{
opacity:0;
padding-top:42%;
text-align:center;
}
.daegu:hover  {
width:240px; height:240px;  opacity:0.6; padding:30px;
}
.daegu:hover a{
opacity:0.8;
}
.daejeon a{
opacity:0;
padding-top:42%;
text-align:center;
}
.daejeon:hover  {
width:240px; height:240px;  opacity:0.6; padding:30px;
}
.daejeon:hover a{
opacity:0.8;
}
.gangwondo a{
opacity:0;
padding-top:42%;
text-align:center;
}
.gangwondo:hover  {
width:240px; height:240px;  opacity:0.6; padding:30px;
}
.gangwondo:hover a{
opacity:0.8;
}
.gwangju a{
opacity:0;
padding-top:42%;
text-align:center;
}
.gwangju:hover  {
width:240px; height:240px;  opacity:0.6; padding:30px;
}
.gwangju:hover a{
opacity:0.8;
}
.gyeongbook a{
opacity:0;
padding-top:42%;
text-align:center;
}
.gyeongbook:hover  {
width:240px; height:240px;  opacity:0.6; padding:30px;
}
.gyeongbook:hover a{
opacity:0.8;
}
.gyeonggido a{
opacity:0;
padding-top:42%;
text-align:center;
}
.gyeonggido:hover  {
width:240px; height:240px;  opacity:0.6; padding:30px;
}
.gyeonggido:hover a{
opacity:0.8;
}
.gyeongnam a{
opacity:0;
padding-top:42%;
text-align:center;
}
.gyeongnam:hover  {
width:240px; height:240px;  opacity:0.6; padding:30px;
}
.gyeongnam :hover a{
opacity:0.8;
}
.incheon a{
opacity:0;
padding-top:42%;
text-align:center;
}
.incheon:hover  {
width:240px; height:240px;  opacity:0.6; padding:30px;
}
.incheon:hover a{
opacity:0.8;
}
.jaeju a{
opacity:0;
padding-top:42%;
text-align:center;
}
.jaeju:hover  {
width:240px; height:240px;  opacity:0.6; padding:30px;
}
.jaeju:hover a{
opacity:0.8;
}
.jeonbook a{
opacity:0;
padding-top:42%;
text-align:center;
}
.jeonbook:hover  {
width:240px; height:240px;  opacity:0.6; padding:30px;
}
.jeonbook:hover a{
opacity:0.8;
}
.jeonnam a{
opacity:0;
padding-top:42%;
text-align:center;
}
.jeonnam:hover  {
width:240px; height:240px;  opacity:0.6; padding:30px;
}
.jeonnam:hover a{
opacity:0.8;
}
.seoul a{
opacity:0;
padding-top:42%;
text-align:center;
}
.seoul:hover  {
width:240px; height:240px;  opacity:0.6; padding:30px;
}
.seoul:hover a{
opacity:0.8;
}